# Gradle
.gradle/

# Build outputs
**/build/
/lwjgl3/build/
/lwjgl3/bin/
/core/build/

# IntelliJ / IDEA
.idea/
*.iml
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Logs
*.log

# Temporary files
*.tmp

# Other
*.jar

# local run config
run/

